/* index.html grid styling  */

.main {
    grid-area: -main;
    height: 100%;
    margin: 10px 8px 10px 8px;
    padding: 15px 20px 2px 4px;
    /* border: 2px solid rgb(255, 51, 0); */
    /* background-color: rgba(199, 193, 16, 0.7); */
}
.masthead {
    grid-area: -masthead;
}
.services {
    grid-area: -services;
    margin: 10px 4px 10px 4px;
    padding: 18px 4px 10px 4px;
    /* border: 2px solid aqua; */
}
.footer {
    grid-area: -footer;
}
.ad {
    grid-area: -ad;
    margin: 10px 4px 10px 4px;
    padding: 18px 4px 10px 4px;
    /* border: 2px solid aqua; */
}
.sidebar {
    grid-area: -sidebar;
    margin: 10px 4px 10px 4px;
    padding: 18px 4px 10px 4px;
    /* border: 2px solid rgb(21, 255, 0); */
    /* background-color: rgba(199, 16, 16, 0.7); */
}


@media (min-width: 250px){
    .wrapper {
        display: grid;
        gap: 40px;
        grid-template-areas: 
            "-masthead"
            "-main"
            "-sidebar"
            "-services"
            "-ad"
            "-footer";
    }
    /* body {
        background-color: blue;
    } */
}

@media (min-width: 600px) {
    .wrapper {
        grid-template-columns:  2.5fr 2.5fr;
        grid-template-areas: 
            "-masthead   -masthead"
            "-main      -main"
            "-services  -services"
            "-sidebar       -ad"
            "-footer    -footer";
    }

}
@media (min-width: 1040px) {
    .wrapper {
        width: 89vw;
        margin: auto;
        grid-template-columns:  2fr 5fr;
        gap: 25px;
        grid-template-areas: 
            "-masthead   -masthead"
            "-ad       -main"
            "-sidebar            -services"
            "-footer    -footer";
    }
        /* body {
        background-color: rgb(187, 15, 155);
    } */
}

@media (min-width: 1280px) {
    .wrapper {
        width: 80vw;
        margin: auto;
        grid-template-columns:  2fr 6fr;
        gap: 25px;
        grid-template-areas: 
            "-masthead   -masthead"
            "-sidebar      -main"
            "-ad           -services"
            "-footer    -footer";
    }
        /* body {
        background-color: rgb(187, 15, 155);
    } */
}
