

@media (max-width: 500px) {

    .img-1,
    .img-2 {
        width: 140px;
        height: 190px;
        border-radius: 2px;
    }
    .img-container {
        margin: 4px auto 240px 1px;
    }
    .blog-post {
        padding: 1px;
    }

}

.blog-post .indent {
    text-indent: .3cm;
    text-align: justify;
}
.content-1,
.content-2 {
    height: 10ch;
    width: 90%;
    overflow: hidden;
}

