.bg-main {
    background-color: rgb(165, 15, 15);
}

.btn-main {
    background-color: rgb(165, 15, 15);
}

.bg-light-main {
    background-color: rgb(227, 227, 228);
}
.bg-light-gray {
   background-color:  rgb(212, 212, 212);
}



body {
    /* font-family: "Roboto", sans-serif; */
    font-weight: 500;
    font-style: normal;
    font-family: "Rubik", sans-serif;
}












.masthead .masthead-container a {
    background-color: var(--bg-primary);
    padding: 8px 18px;
    color: rgb(255, 255, 255);
    font-family: 'Roboto';
    font-size: 18px;
}
.masthead .masthead-container a:hover {
    background-color: rgba(148, 14, 14, 0.7);
}
.masthead {
    color: #fff;
    height: auto;
    background: linear-gradient(to bottom, rgba(228, 3, 3, 0.1) 0%, rgba(248, 89, 3, 0.1) 100%), 
        url("/assets/images/gallery/20160504_163421.jpg") center;
    background-size: cover;
    font-size: 14px;
    padding: 20px 0 30px 0;
    position: relative;
}
/* dimmer  */
.masthead:before {
    content: "";
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    inset: 0;
}
.masthead .masthead-container .block-text {
    width: 100%;
    height: 58px;
    background-color: var(--bg-primary);
    position: absolute;
    top: 58vh;
    left: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: baseline;
    font-family: 'oswald';
}
.masthead .masthead-container {
    position: absolute;
    z-index: 4;
    box-sizing: border-box;
    bottom: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0px 12px;
}
.masthead .masthead-container h1 {
    margin: 0px 0px 10px 0px;
    font-size: 44px;
    font-weight: bold;
    line-height: 50px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.masthead .masthead-container h2 {
    margin: 0px 0px 22px 0px;
    font-size: 28px;
    font-weight: 400;
    line-height: 26px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: "BakBak One", Sans-serif;
    /* font-family: 'Protest Riot'; */
    
}
.masthead .masthead-container h3 {
    margin: 0px 0px 22px 0px;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: "Roboto", Sans-serif;
}
.masthead .masthead-container .block-text p {
    color: rgb(255, 255, 255);
    font-size: 28px;
    text-transform: uppercase;
    padding-top: 12px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
@media (min-width: 125px) {
    .masthead {
        height: 68vh;

    }
    .masthead .masthead-container .block-text {
        top: 64vh;
    }
    .masthead .masthead-container h1 {
        margin: 0px 0px 10px 0px;
        font-size: 46px;
        line-height: 52px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
    }
    .masthead .masthead-container h2 {
        font-size: 22px;
        line-height: 26px;
        text-transform: uppercase;
    }
    .masthead .masthead-container h3 {
        margin: 0px 0px 22px 0px;
        font-size: 22px;
        line-height: 28px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        padding-top: 10px;
    }
    .masthead .masthead-container .block-text p {
        font-size: 32px;
    }
}
@media (min-width: 990px) {
    .masthead {
        height: 48vh;
    }
    .masthead .masthead-container .block-text {
        top: 43vh;
    }
    .masthead .masthead-container h1 {
        margin: 0px 0px 20px 0px;
        font-size: 64px;
        line-height: 50px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
    }
    .masthead .masthead-container h2 {
        margin: 0px 0px 22px 0px;
        padding-left: 15vw;
        padding-right: 15vw;
        font-size: 26px;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: 1.1px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;

    } 
    .masthead .masthead-container h3 {
        margin: 0px 0px 22px 0px;
        font-size: 28px;
        font-weight: 500;
        line-height: 32px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        font-family: "Roboto", Sans-serif;
    }
    .masthead .masthead-container .block-text p {
        font-size: 32px;
    }
}

.masthead .masthead-container .block-text {
    background-color: rgb(165, 15, 15) !important;
}




/* ======= FOOTER  ===== */
.footer {
    color: #fff;
    height: auto;
    background: linear-gradient(to bottom, rgba(228, 3, 3, 0.1) 0%, rgba(248, 89, 3, 0.1) 100%), url("../logo/--bg-truck.png") center;
    background-size: cover;
    font-size: 14px;
    padding: 20px 0 40px 0;
    position: relative;
}
/* dimmer  */
.footer:before {
    content: "";
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    inset: 0;
}

.footer .footer-content .footer-info h3 {
    font-size: 28px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--bg-primary);
}
  
.footer .footer-content .footer-info p strong {
    color: #fff;
}
  
.footer .footer-content .footer-info p {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 0;
    font-family: var(--font-primary);
    color: #fff;
}

.footer .footer-content .footer-info p span i {
    color: var(--bg-icon);
    font-weight: bold;
    font-size: 22px;
    padding: 2px;
}
  
.footer .footer-content .social-links a {
    font-size: 18px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.1);
    background-color: var(--bg-icon-accent);
    color: var(--text-white);
    line-height: 1;
    margin-right: 8px;
    border-radius: 4px;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    text-decoration: none;
}
  
.footer .footer-content .social-links a:hover {
    background: var(--bg-primary);
    text-decoration: none;
    color: var(--bg-icon-hover);
}
.footer .footer-content .social-links img {
    width: 32px;
    height: 22px
}
.footer .footer-content h4 {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    position: relative;
    padding-bottom: 12px;
}
  
.footer .footer-content .footer-links {
    margin-bottom: 10px;
}
  
.footer .footer-content .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.footer .footer-content .footer-links ul li {
    padding: 1px 0;
}
  
.footer .footer-content .footer-links ul li:first-child {
    padding-top: 0;
}
  
.footer .footer-content .footer-links ul a {
    color: rgba(255, 255, 255, 0.6);
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}
  
.footer .footer-content .footer-links ul a:hover {
    color: #fff;
}
/* ===== FOOTER END/ ===== */