/* created by brian @ brm.dev - use with boostrap5  */
/* color code below will change colors throughout  */
@import url("blog-style.css");

html, body {
    /* prevent mobile scroll x  */
    overflow-x: hidden;
}


body {
    /* prevent mobile scroll x  */
    position: relative;
    background-color: rgb(235, 233, 233);
}

.wrapper,
.product-container {
    width: 98%;
    margin: auto;
}
@media (max-width: 500px) {
    .wrapper,
    .product  {
        width: 100%;
    }
    .product-container {
        margin: 18px;
        padding: 0;
    }
}
.banner{
    background-color: #ffffff;
}


:root{
    /* primary color and shades  */
    /* set for styles below - changes global  */
    --bg-primary: rgb(46, 46, 45);
    --bg-accent-hover: rgb(225, 196, 196);
    --bg-primary-off: rgb(163, 30, 30);
    --bg-primary-dark: rgb(134, 24, 24);
    --bg-primary-contrast: rgb(255, 255, 255); 
    --bg-primary-link: rgb(15, 15, 15);
    --text-white: rgb(240, 240, 240);
    --text-black: rgb(0, 0, 0);
    --bg-icon: rgb(163, 30, 30);
    --bg-icon-hover: rgb(162, 161, 158);
    --bg-icon-accent: rgba(221, 180, 44, .2);
    --font-primary: ''Montserrat', sans-serif';
    --font-secondary: "Roboto", Sans-serif;
    /* set for styles below - changes global  */
    /* primary color and shades  */

    /* color bank  */
    --bg-alert: rgb(209, 166, 24);
    --bg-vivid-rgb: rgba(216, 98, 44, 1);
    --bg-vivid: #ff6900;
    --bg-color-dark: #333;
    --bg-mack: rgb(201, 201, 201);
    --bg-color-light: #abb8c3;
    --bg-color-black: #000000;
  
    /* CONTAINER HEIGHT ADJUSTMENTS */
    --banner-bar-height: 33px;
    --banner-height: auto;
    --nav-height: 80px;
    --wrapper-height: auto;
    --footer-bar-height: 50px;
    font-family: 'Days One', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Russo One', sans-serif;
    font-family: 'Special Elite', cursive;
}
.gradient {

    --card-gradient: rgb(163,30,30), orange;
    background-color: #fff;
    box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
    padding-bottom: 1rem;
    background-image: linear-gradient(
      var(--card-gradient),
      white max(9.5rem, 27vh)
    );
    overflow: hidden;
  
}
.text-russo {
    font-family: 'Russo One', sans-serif;
}
.text-days {
    font-family: 'Days One', sans-serif;
}
.text-roboto {
    font-family: "Roboto", Sans-serif;
}
.text-mont {
    font-family: 'Montserrat', sans-serif;
}
.text-elite {
    font-family: 'Special Elite', Arial, Helvetica, sans-serif;
}
.divider {
    width: 100%;
    height: 2px;
    background-color: var(--bg-primary-dark);
    margin: auto auto 10px auto;
}
.block {
    height: 50px;
    background-color: var(--bg-primary);
    width: 100%;
}
.bg-red {
    background-color: var(--bg-primary);
}
.bg-brm{
    background-color: rgb(163, 30, 30);
}
.color-red {
    color: var(--bg-primary);
}
.color-black {
    color: var(--text-black);
}
.bg-black {
    background-color: #333;
}
.bg-icon {
    background-color:var(--bg-icon);
}
.bg-accent-hover {
    background-color: var(--bg-accent-hover);
}
.bg-icon-accent {
    background-color: var(--bg-icon-accent);
}
.bg-gray{background-color: #6f6f6f;}
/* ===========  GLOBAL ====================  */
* {
    margin: 0px;
    padding: 0px;
    font-family: var(--font-primary);
    font-size: 16px;
    letter-spacing: normal;
    color: var(--text-black);
    -webkit-tap-highlight-color: transparent;
}

/* mobile blue hightlight on touch remove  */
select,
button,
textarea,
input {
    -webkit-tap-highlight-color: transparent;
}
.container-fluid {
    margin:0px;
    padding:0px;
} /* bootstrap reset */

.color-primary {
    background-color: var(--bg-primary);
}

/* ==========  FONTS ========== */

.img-box {
    width: 220px;
    padding: 30px 4px 32px 8px;
    margin: 18px auto;
    border: 3px solid rgb(192, 192, 192);
    box-shadow: 7px 8px 32px 10px rgba(199, 199, 199, 0.4);
}

/* ========== BUTTONS ==========  */
.btn-outline {
    display: inline block;
    font-family: "Roboto", Sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1.1px;
    padding: 10px 18px;
    border-radius: 5px;
    border: 3px solid var(--bg-primary);
    color: var(--bg-primary-contrast);
    text-decoration: none;
    transition: 0.2s;
    background-color: transparent;
}
.btn-outline a {
    color: var(--bg-primary-contrast);
}
.btn-outline:hover {
    background-color: var(--bg-primary-off);
    border: 3px solid var(--bg-primary);
    color: var(--bg-primary-contrast);
}
.btn-outline:active {
    border: 2px solid var(--bg-accent-hover);
    background-color: var(--bg-accent-hover);
}
.btn-solid {
    display: inline block;
    font-family: "Roboto", Sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1.1px;
    padding: 10px 18px;
    border-radius: 5px;
    border: 3px solid var(--bg-primary-off);
    background-color: var(--bg-primary);
    color: var(--bg-primary-contrast);
    font-weight: bold;
    text-decoration: none;
    transition: 0.2s;
}
.btn-solid:hover {
    background-color: var(--bg-primary-dark);
    border: 3px solid var(--bg-primary-off);
    box-shadow: 1px 1px var(--bg-primary-dark);
    color: var(--bg-primary-contrast);
}


/* == 3 CONTAINERS .BANNER .NAV-BAR .WRAPPER == */
.banner {
    max-height: var(--banner-height);
    /* for adjustable banner height below  */
    /* height: var(--banner-height); */
    width: 100%;
    margin: 0px;
    margin-bottom: 6px;
    padding: 0px;
    padding-top: 2px;
} 
.nav-bar {
    width: 100%;
    background-color: var(--bg-primary);
    margin: 0px auto 0px auto;
    padding: 0px;
} 
@media (max-width:500px) {
    .nav-bar {
        box-sizing: border-box;
        overflow: hidden;
    }
    .navbar {
        box-sizing: border-box;
        scroll-behavior: smooth;
    }    
}
@media (min-width: 850px){
    .navbar {
        width: 80vw;
    }
    .nav-bar{
        display: flex;
        justify-content: center;
    }
}
.wrapper {
    height: var(--wrapper-height);
    margin: 0px;
    padding: 0px;
}   
.navbar {
    margin: 0px;
    padding: 0px;
    z-index: 1000;
}
/* NAV-BAR FIXED AT BANNER HEIGHT WITH JS */
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;

}


/* === BANNER STYLE =========  */
.banner-bar {
    background-color: #333;
    box-shadow: 1px 2px 2px 0px gray;
    margin-bottom: 3px;
    height: var(--banner-bar-height);
    width: 100vw;
}

/* remove second image mobile  */
@media (max-width: 730px) {
    #bannerImg2 {
        display: none;
    }
}
/* === BANNER END/  =========  */

/* ======== NAVBAR ============  */
/* boostrap resposive with styling  */

/* responsive menu  */
.navbar-nav {
    background-color: var(--bg-primary);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0px;
}
/* top menu item */
.nav-bar .active {
    box-sizing: border-box;
    background-color: var(--bg-primary-dark);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding-left: 0px;
    margin-top: 9px;
    margin-right: 8px;
    margin-left: 9px;
    color: var(--bg-primary-link);
}
.nav-bar .active:hover{
    background-color: var(--bg-primary-off);
}
/* text  */
.navbar-nav .nav-item .nav-link {
    color:var(--bg-primary-link);
    padding: 8px 6px;
    padding-left: 25px;
    margin: 0px;
}
@media (max-width: 800px) {
    .navbar-nav .nav-item .nav-link{
        cursor: default; 
        outline: none;
    }     
}
.nav-bar .navbar-collapse .navbar-nav {
    box-sizing: border-box;
}
.nav-bar .navbar-collapse ul .active > .nav-link {
    color: var(--bg-primary-contrast);
    /* box-shadow: 1px 0px 0px 0px var(--bg-primary-dark); */
    border: 1px solid var(--bg-primary);
} 
.navbar-nav .nav-item .nav-link:not(:last-child){
    box-shadow: 1px 0px 1px var(--bg-primary-contrast);
    color: var(--bg-primary-link);  
}
.navbar-nav .nav-item .nav-link:not(:last-child):hover
 {  
    background-color: var(--bg-primary);
    color: var(--bg-primary-contrast);
    width: 100%;
    padding: 8px 6px;
    padding-left: 25px;
    margin-right: 25px;
}
.navbar-nav .nav-item .active {
    color:  var(--bg-primary-link);
}
/* drop down link  - middle ones */
.dropdown {
    box-sizing: border-box;
    border-radius: 0px;
    background-color: var(--bg-primary-contrast);
    margin: 0px;
    margin-left: 10px;
    margin-right: 11px;
    /* box-shadow: 2px 0px 0px  var(--bg-primary-dark); */
}
.navbar-nav .nav-item .dropdown-item {
    padding: 8px 6px;
    padding-left: 25px;
    margin: 0px;
}
.navbar-collapse .navbar-nav .nav-item:nth-last-child(1) {
    color: var(--bg-primary-link);
    /* box-shadow: 2px 0px 0px var(--bg-primary-dark); */
    background-color: var(--bg-primary-contrast);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}
.navbar-collapse .navbar-nav .nav-item:nth-last-child(1):hover {
    background-color: var(--bg-primary);
    color: var(--bg-primary-link);
}
.dopdown-menu a:hover {
    background-color: var(--bg-primary);
    padding-left: 25px;
    margin: 0px;
}
.dropdown-item {
    padding: 8px 6px;
    margin: 0px;
}
.dropdown-item:hover {
    background-color: var(--bg-primary);
    color:  var(--bg-primary-contrast);;
    width: 100%;
    padding: 8px 6px;
    margin: 0px;
}
.navbar-collapse .navbar-nav .nav-item:nth-last-child(1) .nav-link:hover {
    color: var(--bg-primary-contrast);  
}
.navbar i {
    color: var(--bg-icon);
    transition: .3s;
}
.navbar i:hover {
    color: var(--bg-icon-hover);
}
/* full menu  */
@media (min-width: 990px) {
    .navbar-nav {
        background-color: var(--bg-primary);
        margin: 8px;
        box-shadow: none;  
    }
    .nav-bar .active {
        background-color: var(--bg-primary);
        box-shadow: 0 0 0 0;
        padding-left: 0px;
        margin: 0px;
    }
    div .dropdown-menu {
        border: 4px;
        border-radius: 0px;
        margin: 0px;
    }
    .nav-bar .navbar-brand{
        box-sizing: border-box;
    }
    .navbar-nav .nav-item .nav-link:not(:last-child):hover { 
        color:rgb(15, 15, 15);
        letter-spacing: px;
        font-weight: bold;
        padding: 1px 16px;
        padding-left: 25px;
        margin: 0px;
        box-shadow: none;
    }
    .navbar-collapse .navbar-nav .nav-item:nth-last-child(1) {
        color: rgb(0, 0, 0);
        border-radius: 0px;
        background-color: var(--bg-primary-contrast);
        box-shadow: none;
    }
    .navbar-collapse .navbar-nav .nav-item:nth-last-child(1):hover {
        background-color: var(--bg-primary);
        color: var(--bg-primary-contrast);
    }
    .nav-bar .navbar-collapse ul .active > .nav-link {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        box-shadow: none;
        border: none;
    } 
    .navbar-nav .nav-item .nav-link {
        color:rgb(221, 218, 218);
        font-weight: bold;
        padding: 1px 16px;
        padding-left: 25px;
        margin: 0px;
    }
    .nav-bar .navbar-collapse ul .active > .nav-link {
        box-shadow: none;
    }
    .navbar-nav .nav-item .nav-link:hover {
        background-color: var(--bg-primary);
        color: white;
        width: 100%;
        padding: 1px 16px;
        padding-left: 25px;
        margin: 0px;
    }
    .navbar-nav .nav-item .active {
        color: white;
    } 
    
    .navbar-nav .nav-item a {
        padding: 8px 16px;
        padding-left: 25px;
        background-color: var(--bg-primary);
    } 
    .navbar-collapse .navbar-nav .nav-item:nth-last-child(1) {
        margin: 0px;
    }
    .navbar-nav .nav-item .nav-link:not(:last-child){
        box-shadow: none;
    }
    .navbar-collapse .navbar-nav .nav-item:nth-last-child(1):hover {
        margin: 0px;
    }
    .navbar-nav .nav-item .dopdown-menu {
        padding: 12px 16px;
        padding-left: 25px; 
        margin: 0px;
    }
    .navbar-nav .nav-item .dopdown-menu a:hover {
        background-color: var(--bg-primary-contrast);
        padding: 12px 6px;
        padding-left: 25px;    
        background-color: var(--bg-primary-contrast);
        margin: 0px;
    }
    .navbar-nav .nav-item .dropdown-menu .dropdown-item {
        padding: 12px 6px;
        padding-left: 25px;
        background-color: var(--bg-primary-contrast);
        margin: 0px;
    }

    .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
        color: var(--bg-primary-contrast);   
    }
    .navbar-collapse .navbar-nav .nav-item:nth-last-child(1) .nav-link:hover {
        color: var(--bg-primary-contrast);   
    }
    .navbar-nav .nav-item .dropdown-item:hover {
        background-color: var(--bg-primary);
        color: var(--bg-primary-contrast);
        width: 100%;
        padding: 12px 6px;
        padding-left: 25px;
        margin: 0px;
    }
    .dropdown {
        box-shadow: none;
    }

 
}
/* === NAVBAR STYLE END/ ======  */

/* ======= SIDENAV ============ */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #0d0d0d;
    border: 2px solid #333;
    overflow-x: hidden;
    transition: .1s ease;
    padding-top: 60px;
    color: white;
  }
  
  .sidenav a {
    padding: 4px 8px 4px 8px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    transition: 0.3s;
    color: white;
  }
  .sidenav a i {
    color: white;
    font-size: 30px;
  }
  
  .sidenav a:hover {
    color: var(--bg-primary);
  }
  
.sidenav .links {
    padding: 1px auto auto 15px;
    margin: auto;

}
.sidenav .btn-bar .link,
.sidenav .links .link {
    margin: 4px auto auto auto;
    color: rgb(204, 202, 202);
    transition: .2s ease;
}
.sidenav .btn-bar .link:hover,
.sidenav .links .link:hover {
    background-color: var(--bg-primary-dark);
    box-shadow: 0px 4px 22px solid black;
    border-radius: 10px;
}
.sidenav .links .link a:hover,
.sidenav .link a:hover {
    color: white;
}
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
  
.material-icons.md-36,
.material-symbols-outlined  { 
    font-size: 32px;
    padding: 0; 
    margin: 0;
    color: #000000;
    transition: .5s;
    background-color: var(--bg-primary-off);
    border-radius: 50%;
    padding: 3px;
}
.material-icons.md-36:hover,
.material-symbols-outlined:hover  {
    color: rgb(190, 171, 31);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.symbol-small {
    font-size: 36px;
}



/* ======== SIDENAV END/ ==============  */

/* ==============RIGHTNAV =========== */
.rightnav .contact-frame {
  width: 100%;
  height: 100%;
}
/* ==============RIGHTNAV END =========== */



/* == MENU ICON ==*/
.menu-icon {
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    background-color: var(--bg-nav);
}
.menu-icon:hover {
    background-color: var(--bg-primary);
}
.bar1,
.bar2,
.bar3 {
    width: 25px;
    height: 5px;
    background-color: var(--bg-icon);
    border-radius: 15px;
    margin: 6px 0;
    transition: ease 0.4s;
}
.change .bar1 { 
    transform: translate(0, 11px) rotate(-45deg);
    background-color: var(--bg-icon-hover);
} 
.change .bar2 {opacity: 0;}
      
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
    background-color: var(--bg-icon-hover);
}
/* ===== MENU ICON END/ ==== */ 







/* =========== MODAL ============= */
.modal .modal-content {
    background-color: #e4e3e3;
}
.modal-content .modal-header {
    background-color: var(--bg-primary);
    border-bottom: 1px solid var(--bg-primary-dark);
    box-shadow: 0px 2px 2px var(--bg-primary-off);

}
.modal-content .modal-header .modal-title {
    font-weight: 400;
    font-family: "Roboto", Sans-serif;
    margin: 0 0 0 5px;
    padding-bottom: 0px;
    font-size: 20px;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    transition: 0.3s;
 }
 .modal-content .modal-header button {
    border: none;
    border-radius: 0;
    background-color: #e4e3e3;
 }
.modal-content .modal-body .schedule-message h5 {
    font-family: "Roboto", Sans-serif;
    margin: 0 0 6px 0;
    padding-bottom: 2px;
    border-bottom: 1px solid rgb(192, 192, 192);
    font-size: 19px;
 }
.modal-content .modal-body .schedule-message a {
    font-family: "Roboto", Sans-serif;
    padding-bottom: 8px 16px 2px 16px;
    font-size: 17px;
    color: white;
 }
.modal-content .modal-footer button {
    padding: 4px 22px 4px 22px;
    margin: 0px 0px 0px auto;

 }
/* ======== MODAL END/ ========== */







/* ======== SERVICES CARD ======== */ 

.service .card {
    box-shadow: 0px 12px 44px 3px #121212;
    /* cursor: pointer; */
    user-select: none;
}


  .product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #f7f8fc;
    font-family: "Roboto", sans-serif;
    color: #10182f;
  }

 .service .card {
    font-family: "Roboto", Sans-serif;
    margin: 10px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 350px;
    box-sizing: border-box;
    /* height: 600px; */
  }
   
  /* .service .card-img img {
    width: 100%;
    height: 270px;
    object-fit: cover;
  } */

  .service .card-img img {
    width: 50%;
    height: 220px;
    object-fit: cover;
    padding: 0;
    margin: 0;
    padding: 1px;
    background-color: #c8c8c8;  
  }
  .service .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 12px;
    min-height: 230px;
    height: 220px;
  }
  .service .card .card-body h4 {
    margin: 0 0 2px;
    padding: 0;
    font-family: 'Russo One', sans-serif;
    font-size: 16px;
  }
  .service .card .card-body p {
    font-size: 14px;
    margin: 2px 0 30px;
    text-indent: .2cm;
    
  }
  
  /* category  */
  .service .card-price p {
    background: rgb(163, 30, 30);
    border-radius: 50px;
    font-size: 13px;
    margin: 8px 0 0 5px;
    color: #fff;
    padding: 1px 12px 0 12px;
    width:fit-content;
    text-transform: uppercase;
    cursor: pointer;
    
    
  }

  .service .card-user {
    display: flex;
    margin-top: auto;
    padding-left: 8px;
    padding-bottom: 3px;
  }
  
  .service .card-user img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
  .service .card-user .user-info h5 {
    margin: 0;
    font-size: 15px;
  }
  .service .card-user .user-info small {
    color: #3e55a6;
  }

/* ======== SERVICES CARD END/ ======== */ 

/* ======== BLOG WIDE CARD ======== */ 

.bg-blog {
    background-color: rgb(53, 53, 53);
}
.blog-wide .card {
    box-shadow: 0px 12px 44px 3px #121212;
    /* cursor: pointer; */
    user-select: none;
}


.product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: #10182f;
  }

  .blog-wide .card {
    font-family: "Roboto", Sans-serif;
    margin: 10px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 100%;
    max-width: 95vw;
    min-width: 370px;
    box-sizing: border-box;
    /* height: 600px; */
  }
   
  /* .service .card-img img {
    width: 100%;
    height: 270px;
    object-fit: cover;
  } */

  .blog-wide  .card-img img {
    width: 50%;
    height: 50vw;
    object-fit: cover;
    padding: 0;
    margin: 0;
    padding: 1px;
    background-color: #c8c8c8;  
  }

  .blog-wide  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 12px;
    min-height: 250px;
    height: auto;
  }
  .blog-wide  .card .card-body h4 {
    margin: 0 0 2px;
    padding: 0;
    font-family: 'Russo One', sans-serif;
    font-size: 2.8vw;
  }

  .blog-wide  .card .card-body p {
    font-size: 15px;
    margin: 2px 0 30px;
    text-indent: .2cm;
    
  }
  @media (max-width: 600px) {
    .blog-wide .card-img img {
        height: 225px;
    }
    .blog-wide  .card .card-body h4{
        font-size: 3.9vw;
    }
    .blog-wide .card .card-body p {
        font-size: 16px;
    }
    .blog-wide .card {
        width: 80vw;
    }
  }
  @media (min-width: 900px) {
    .blog-wide  .card-img img {
        width: 50%;
        height: 23vw;
    }
    .blog-wide  .card .card-body h4{
        font-size: 2.3vw;
    }
    .blog-wide  .card .card-body p{font-size: 17px;}
    
  }
  
  /* category  */
  .blog-wide .card-price {
    background-color: rgb(35, 35, 35);
    padding: 12px;
  }
  .blog-wide  .card-price p {
    background: rgb(163, 30, 30);
    border-radius: 50px;
    font-size: 14px;
    margin: 0px 0 0 5px;
    color: #fff;
    padding: 2px 12px 2px 12px;
    width:fit-content;
    text-transform: uppercase;
    cursor: pointer;
  
  }

  .blog-wide  .card-user {
    display: flex;
    margin-top: auto;
    padding-left: 38px;
    padding-bottom: 3px;
    padding-top: 10px;
    background-color: #b5b5b5;
  }
  
  .blog-wide  .card-user img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
  .blog-wide  .card-user .user-info h5 {
    margin: 0;
    font-size: 15px;
  }
  .blog-wide  .card-user .user-info small {
    color: #3e55a6;
  }

/* ======== BLOG WIDE END/ ======== */ 

/* ====== BRM DEV ICON =========== */
.webdesign {
    font-family: 'Special Elite', arial;
}
.webdesign a {
    color: rgb(27, 139, 30);
    text-decoration: none;
    float: right;
    font-size: 11px;
    transition: .2s;
    padding: 3px;
}
.webdesign a:hover {
    color: rgb(181, 15, 199);
    text-decoration: none;
    border: 1px solid greenyellow;
    border-radius: 20px;
    font-weight: bold;
    font-size: 13px;
    rotate: -2deg;
}
.webdesign a:active {
    rotate: 3deg;
    zoom: 1.1;
    color: rgb(15, 36, 199);
    background-color: rgb(147, 219, 39);
    border: 2px solid #333;
}