/* created by brian @ brm.dev - use with boostrap5  */
/* color code below will change colors throughout  */
@import url("blog-style.css");

html, body {
    /* prevent mobile scroll x  */
    overflow-x: hidden;
}


body {
    /* prevent mobile scroll x  */
    position: relative;
    background-color: rgb(235, 233, 233);
}

.wrapper,
.product-container {
    width: 98%;
    margin: auto;
}
@media (max-width: 500px) {
    .wrapper,
    .product  {
        width: 100%;
    }
    .product-container {
        margin: 18px;
        padding: 0;
    }
}
.banner{
    background-color: #ffffff;
}


:root{
    /* primary color and shades  */
    /* set for styles below - changes global  */
    --bg-primary: rgb(46, 46, 45);
    --bg-accent-hover: rgba(163, 30, 30, 0.2);
    --bg-primary-off: rgb(183, 146, 28);
    --bg-primary-dark: rgb(134, 24, 24);
    --bg-primary-contrast: rgb(255, 255, 255); 
    --bg-primary-link: rgb(15, 15, 15);
    --text-white: rgb(240, 240, 240);
    --text-black: rgb(0, 0, 0);
    --bg-icon: rgb(163, 30, 30);
    --bg-icon-hover: rgb(183, 146, 28);
    --bg-icon-accent: rgba(221, 180, 44, .2);
    --font-primary: ''Montserrat', sans-serif';
    --font-secondary: "Roboto", Sans-serif;
    /* set for styles below - changes global  */
    /* primary color and shades  */

    /* color bank  */
    --bg-alert: rgb(209, 166, 24);
    --bg-vivid-rgb: rgba(216, 98, 44, 1);
    --bg-vivid: #ff6900;
    --bg-color-dark: #333;
    --bg-mack: rgb(201, 201, 201);
    --bg-color-light: #abb8c3;
    --bg-color-black: #000000;
  
    /* CONTAINER HEIGHT ADJUSTMENTS */
    --banner-bar-height: 33px;
    --banner-height: 250px;
    --nav-height: 80px;
    --wrapper-height: auto;
    --footer-bar-height: 50px;
    font-family: 'Days One', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Russo One', sans-serif;
    font-family: 'Special Elite', cursive;
}
.gradient {

    --card-gradient: rgb(163,30,30), orange;
    background-color: #fff;
    box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
    padding-bottom: 1rem;
    background-image: linear-gradient(
      var(--card-gradient),
      white max(9.5rem, 27vh)
    );
    overflow: hidden;
  
}
.text-russo {
    font-family: 'Russo One', sans-serif;
}
.text-days {
    font-family: 'Days One', sans-serif;
}
.text-roboto {
    font-family: "Roboto", Sans-serif;
}
.text-mont {
    font-family: 'Montserrat', sans-serif;
}
.text-elite {
    font-family: 'Special Elite', Arial, Helvetica, sans-serif;
}
.divider {
    width: 100%;
    height: 2px;
    background-color: var(--bg-primary-dark);
    margin: auto auto 10px auto;
}
.block {
    height: 50px;
    background-color: var(--bg-primary);
    width: 100%;
}
.bg-red {
    background-color: var(--bg-primary);
}
.color-red {
    color: var(--bg-primary);
}
.color-black {
    color: var(--text-black);
}
.bg-black {
    background-color: #333;
}
.bg-icon {
    background-color:var(--bg-icon);
}
.bg-accent-hover {
    background-color: var(--bg-accent-hover);
}
.bg-acc
/* ===========  GLOBAL ====================  */
* {
    margin: 0px;
    padding: 0px;
    font-family: var(--font-primary);
    font-size: 16px;
    letter-spacing: normal;
    color: var(--text-black);
    -webkit-tap-highlight-color: transparent;
}

/* mobile blue hightlight on touch remove  */
select,
button,
textarea,
input {
    -webkit-tap-highlight-color: transparent;
}
.container-fluid {
    margin:0px;
    padding:0px;
} /* bootstrap reset */

.color-primary {
    background-color: var(--bg-primary);
}

/* ==========  FONTS ========== */

.img-box {
    width: 220px;
    padding: 30px 4px 32px 8px;
    margin: 18px auto;
    border: 3px solid rgb(192, 192, 192);
    box-shadow: 7px 8px 32px 10px rgba(199, 199, 199, 0.4);
}

/* ========== BUTTONS ==========  */
.btn-outline {
    display: inline block;
    font-family: "Roboto", Sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1.1px;
    padding: 10px 18px;
    border-radius: 5px;
    border: 3px solid var(--bg-primary);
    color: var(--bg-primary-contrast);
    text-decoration: none;
    transition: 0.2s;
    background-color: transparent;
}
.btn-outline a {
    color: var(--bg-primary-contrast);
}
.btn-outline:hover {
    background-color: var(--bg-primary-off);
    border: 3px solid var(--bg-primary);
    color: var(--bg-primary-contrast);
}
.btn-outline:active {
    border: 2px solid var(--bg-accent-hover);
    background-color: var(--bg-accent-hover);
}
.btn-solid {
    display: inline block;
    font-family: "Roboto", Sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1.1px;
    padding: 10px 18px;
    border-radius: 5px;
    border: 3px solid var(--bg-primary-off);
    background-color: var(--bg-primary);
    color: var(--bg-primary-contrast);
    font-weight: bold;
    text-decoration: none;
    transition: 0.2s;
}
.btn-solid:hover {
    background-color: var(--bg-primary-dark);
    border: 3px solid var(--bg-primary-off);
    box-shadow: 1px 1px var(--bg-primary-dark);
    color: var(--bg-primary-contrast);
}


/* == 3 CONTAINERS .BANNER .NAV-BAR .WRAPPER == */
.banner {
    max-height: var(--banner-height);
    /* for adjustable banner height below  */
    /* height: var(--banner-height); */
    width: 100%;
    margin: 0px;
    margin-bottom: 6px;
    padding: 0px;
    padding-top: 2px;
} 
.nav-bar {
    width: 100%;
    background-color: var(--bg-primary);
    margin: 0px auto 0px auto;
    padding: 0px;
} 
@media (max-width:500px) {
    .nav-bar {
        box-sizing: border-box;
        overflow: hidden;
    }
    .navbar {
        box-sizing: border-box;
        scroll-behavior: smooth;
    }    
}
@media (min-width: 850px){
    .navbar {
        width: 80vw;
    }
    .nav-bar{
        display: flex;
        justify-content: center;
    }
}
.wrapper {
    height: var(--wrapper-height);
    margin: 0px;
    padding: 0px;
}   
.navbar {
    margin: 0px;
    padding: 0px;
    z-index: 1000;
}
/* NAV-BAR FIXED AT BANNER HEIGHT WITH JS */
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;

}


/* === BANNER STYLE =========  */
.banner-bar {
    background-color: #333;
    box-shadow: 1px 2px 2px 0px gray;
    margin-bottom: 3px;
    height: var(--banner-bar-height);
    width: 100vw;
}

/* remove second image mobile  */
@media (max-width: 730px) {
    #bannerImg2 {
        display: none;
    }
}
/* === BANNER END/  =========  */

/* ======== NAVBAR ============  */
/* boostrap resposive with styling  */

/* responsive menu  */
.navbar-nav {
    background-color: var(--bg-primary);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0px;
}
/* top menu item */
.nav-bar .active {
    box-sizing: border-box;
    background-color: var(--bg-primary-dark);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding-left: 0px;
    margin-top: 9px;
    margin-right: 8px;
    margin-left: 9px;
    color: var(--bg-primary-link);
}
.nav-bar .active:hover{
    background-color: var(--bg-primary-off);
}
/* text  */
.navbar-nav .nav-item .nav-link {
    color:var(--bg-primary-link);
    padding: 8px 6px;
    padding-left: 25px;
    margin: 0px;
}
@media (max-width: 800px) {
    .navbar-nav .nav-item .nav-link{
        cursor: default; 
        outline: none;
    }     
}
.nav-bar .navbar-collapse .navbar-nav {
    box-sizing: border-box;
}
.nav-bar .navbar-collapse ul .active > .nav-link {
    color: var(--bg-primary-contrast);
    /* box-shadow: 1px 0px 0px 0px var(--bg-primary-dark); */
    border: 1px solid var(--bg-primary);
} 
.navbar-nav .nav-item .nav-link:not(:last-child){
    box-shadow: 1px 0px 1px var(--bg-primary-contrast);
    color: var(--bg-primary-link);  
}
.navbar-nav .nav-item .nav-link:not(:last-child):hover
 {  
    background-color: var(--bg-primary);
    color: var(--bg-primary-contrast);
    width: 100%;
    padding: 8px 6px;
    padding-left: 25px;
    margin-right: 25px;
}
.navbar-nav .nav-item .active {
    color:  var(--bg-primary-link);
}
/* drop down link  - middle ones */
.dropdown {
    box-sizing: border-box;
    border-radius: 0px;
    background-color: var(--bg-primary-contrast);
    margin: 0px;
    margin-left: 10px;
    margin-right: 11px;
    /* box-shadow: 2px 0px 0px  var(--bg-primary-dark); */
}
.navbar-nav .nav-item .dropdown-item {
    padding: 8px 6px;
    padding-left: 25px;
    margin: 0px;
}
.navbar-collapse .navbar-nav .nav-item:nth-last-child(1) {
    color: var(--bg-primary-link);
    /* box-shadow: 2px 0px 0px var(--bg-primary-dark); */
    background-color: var(--bg-primary-contrast);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}
.navbar-collapse .navbar-nav .nav-item:nth-last-child(1):hover {
    background-color: var(--bg-primary);
    color: var(--bg-primary-link);
}
.dopdown-menu a:hover {
    background-color: var(--bg-primary);
    padding-left: 25px;
    margin: 0px;
}
.dropdown-item {
    padding: 8px 6px;
    margin: 0px;
}
.dropdown-item:hover {
    background-color: var(--bg-primary);
    color:  var(--bg-primary-contrast);;
    width: 100%;
    padding: 8px 6px;
    margin: 0px;
}
.navbar-collapse .navbar-nav .nav-item:nth-last-child(1) .nav-link:hover {
    color: var(--bg-primary-contrast);  
}
.navbar i {
    color: var(--bg-icon);
    transition: .3s;
}
.navbar i:hover {
    color: var(--bg-icon-hover);
}
/* full menu  */
@media (min-width: 990px) {
    .navbar-nav {
        background-color: var(--bg-primary);
        margin: 8px;
        box-shadow: none;  
    }
    .nav-bar .active {
        background-color: var(--bg-primary);
        box-shadow: 0 0 0 0;
        padding-left: 0px;
        margin: 0px;
    }
    div .dropdown-menu {
        border: 4px;
        border-radius: 0px;
        margin: 0px;
    }
    .nav-bar .navbar-brand{
        box-sizing: border-box;
    }
    .navbar-nav .nav-item .nav-link:not(:last-child):hover { 
        color:rgb(15, 15, 15);
        letter-spacing: px;
        font-weight: bold;
        padding: 1px 16px;
        padding-left: 25px;
        margin: 0px;
        box-shadow: none;
    }
    .navbar-collapse .navbar-nav .nav-item:nth-last-child(1) {
        color: rgb(0, 0, 0);
        border-radius: 0px;
        background-color: var(--bg-primary-contrast);
        box-shadow: none;
    }
    .navbar-collapse .navbar-nav .nav-item:nth-last-child(1):hover {
        background-color: var(--bg-primary);
        color: var(--bg-primary-contrast);
    }
    .nav-bar .navbar-collapse ul .active > .nav-link {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        box-shadow: none;
        border: none;
    } 
    .navbar-nav .nav-item .nav-link {
        color:rgb(15, 15, 15);
        font-weight: bold;
        padding: 1px 16px;
        padding-left: 25px;
        margin: 0px;
    }
    .nav-bar .navbar-collapse ul .active > .nav-link {
        box-shadow: none;
    }
    .navbar-nav .nav-item .nav-link:hover {
        background-color: var(--bg-primary);
        color: white;
        width: 100%;
        padding: 1px 16px;
        padding-left: 25px;
        margin: 0px;
    }
    .navbar-nav .nav-item .active {
        color: white;
    } 
    .navbar-nav .nav-item a {
        padding: 8px 16px;
        padding-left: 25px;
        background-color: var(--bg-primary);
    } 
    .navbar-collapse .navbar-nav .nav-item:nth-last-child(1) {
        margin: 0px;
    }
    .navbar-nav .nav-item .nav-link:not(:last-child){
        box-shadow: none;
    }
    .navbar-collapse .navbar-nav .nav-item:nth-last-child(1):hover {
        margin: 0px;
    }
    .navbar-nav .nav-item .dopdown-menu {
        padding: 12px 16px;
        padding-left: 25px; 
        margin: 0px;
    }
    .navbar-nav .nav-item .dopdown-menu a:hover {
        background-color: var(--bg-primary-contrast);
        padding: 12px 6px;
        padding-left: 25px;    
        background-color: var(--bg-primary-contrast);
        margin: 0px;
    }
    .navbar-nav .nav-item .dropdown-menu .dropdown-item {
        padding: 12px 6px;
        padding-left: 25px;
        background-color: var(--bg-primary-contrast);
        margin: 0px;
    }
    .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
        color: var(--bg-primary-contrast);   
    }
    .navbar-collapse .navbar-nav .nav-item:nth-last-child(1) .nav-link:hover {
        color: var(--bg-primary-contrast);   
    }
    .navbar-nav .nav-item .dropdown-item:hover {
        background-color: var(--bg-primary);
        color: var(--bg-primary-contrast);
        width: 100%;
        padding: 12px 6px;
        padding-left: 25px;
        margin: 0px;
    }
    .dropdown {
        box-shadow: none;
    }
 
}
/* === NAVBAR STYLE END/ ======  */

/* ======= SIDENAV ============ */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgb(224, 224, 224);
    border: 2px solid #333;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    overflow-x: hidden;
    transition: 0.5s ease;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 4px 8px 4px 8px;
    text-decoration: none;
    font-size: 18px;
    color: #222222;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: rgb(219, 0, 0);
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
  
.material-icons.md-36 { 
    font-size: 48px;
    padding: 0; 
    margin: 0;
    color: #000000;
    transition: .5s;
    background-color: var(--bg-primary-off);
    border-radius: 50%;
}
.material-icons.md-36:hover {
    color: rgb(163, 30, 30);
}

/* ======== SIDENAV END/ ==============  */

/* ===== MASTHEAD ===============*/
.masthead {
    color: #fff;
    height: auto;
    background: linear-gradient(to bottom, rgba(228, 3, 3, 0.1) 0%, rgba(248, 89, 3, 0.1) 100%), url("../assets/gallery/bg-masthead.jpg") center;
    background-size: cover;
    font-size: 14px;
    padding: 20px 0 30px 0;
    position: relative;
}
/* dimmer  */
.masthead:before {
    content: "";
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    inset: 0;
}
.masthead .masthead-container .block-text {
    width: 100%;
    height: 58px;
    background-color: var(--bg-primary);
    position: absolute;
    top: 62vh;
    left: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: baseline;
}
.masthead .masthead-container {
    position: absolute;
    z-index: 4;
    box-sizing: border-box;
    bottom: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0px 12px;
}
.masthead .masthead-container h1 {
    margin: 0px 0px 10px 0px;
    font-size: 44px;
    font-weight: bold;
    line-height: 50px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: "Roboto", Sans-serif;
}
.masthead .masthead-container h2 {
    margin: 0px 0px 22px 0px;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: "Roboto", Sans-serif;
}
.masthead .masthead-container h3 {
    margin: 0px 0px 22px 0px;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: "Roboto", Sans-serif;
}
.masthead .masthead-container .block-text p {
    color: rgb(255, 255, 255);
    font-size: 28px;
    text-transform: uppercase;
    padding-top: 12px;
    font-family: 'Russo One', sans-serif;
}
@media (min-width: 125px) {
    .masthead {
        height: 57vh;

    }
    .masthead .masthead-container .block-text {
        top: 55vh;
    }
    .masthead .masthead-container h1 {
        margin: 0px 0px 10px 0px;
        font-size: 46px;
        font-weight: bold;
        line-height: 52px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
    }
    .masthead .masthead-container h2 {
        font-size: 18px;
        line-height: 26px;
        text-transform: uppercase;
    }
    .masthead .masthead-container h3 {
        margin: 0px 0px 22px 0px;
        font-size: 22px;
        line-height: 28px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        font-family: "Roboto", Sans-serif;
        padding-top: 10px;
    }
    .masthead .masthead-container .block-text p {
        font-size: 32px;
    }
}
@media (min-width: 990px) {
    .masthead {
        height: 58vh;
    }
    .masthead .masthead-container .block-text {
        top: 54vh;
    }
    .masthead .masthead-container h1 {
        margin: 0px 0px 20px 0px;
        font-size: 54px;
        font-weight: bold;
        line-height: 50px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
    }
    .masthead .masthead-container h2 {
        margin: 0px 0px 22px 0px;
        padding-left: 15vw;
        padding-right: 15vw;
        font-size: 26px;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: 1.1px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
    } 
    .masthead .masthead-container h3 {
        margin: 0px 0px 22px 0px;
        font-size: 28px;
        font-weight: 500;
        line-height: 32px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        font-family: "Roboto", Sans-serif;
    }
    .masthead .masthead-container .block-text p {
        font-size: 32px;
    }
}
/* ===== MASTHEAD END/==============*/


/* ======= MINI-MASTHEAD  ========== */
.mini-masthead {
    color: #fff;
    height: auto;
    background-size: cover;
    background: linear-gradient(rgb(11, 11, 11) 0%, rgba(0, 0, 0, 0.8) 20%), top;
    font-size: 14px;
    padding: 20px 0 30px 0;
    position: relative;
}
/* dimmer  */
.mini-masthead:before {
    content: "";
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    inset: 0;
}
.mini-masthead .mini-container h1 {
    font-size: 24px;
    margin: 2px 0 8px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(244, 239, 239);
    background: var(--bg-primary);
    background: linear-gradient(to right, #8F0303 0%, #979696 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.mini-masthead .mini-container h3 {
    color: rgb(254, 254, 254);
    font-size: 1.3em;
}
.mini-masthead .mini-container h2 {
    color: rgb(255, 255, 255);
    font-size: 1em;
    font-style: italic;
}
/* ===== MINI MASTHEAD END/============*/




/* == MENU ICON ==*/
.menu-icon {
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    background-color: var(--bg-nav);
}
.menu-icon:hover {
    background-color: var(--bg-primary);
}
.bar1,
.bar2,
.bar3 {
    width: 25px;
    height: 5px;
    background-color: var(--bg-icon);
    border-radius: 15px;
    margin: 6px 0;
    transition: ease 0.4s;
}
.change .bar1 { 
    transform: translate(0, 11px) rotate(-45deg);
    background-color: var(--bg-icon-hover);
} 
.change .bar2 {opacity: 0;}
      
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
    background-color: var(--bg-icon-hover);
}
/* ===== MENU ICON END/ ==== */ 




  
/* ======= FOOTER  ===== */
.footer {
    color: #fff;
    height: auto;
    /* background: linear-gradient(to bottom, rgba(228, 3, 3, 0.1) 0%, rgba(248, 89, 3, 0.1) 100%), url("../assets/logo/--bg-truck.png") center; */
    background-size: cover;
    font-size: 14px;
    padding: 20px 0 40px 0;
    position: relative;
}
/* dimmer  */
.footer:before {
    content: "";
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    inset: 0;
}

.footer .footer-content .footer-info h3 {
    font-size: 28px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--bg-primary);
}
  
.footer .footer-content .footer-info p strong {
    color: #fff;
}
  
.footer .footer-content .footer-info p {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 0;
    font-family: var(--font-primary);
    color: #fff;
}

.footer .footer-content .footer-info p span i {
    color: var(--bg-icon);
    font-weight: bold;
    font-size: 22px;
    padding: 2px;
}
  
.footer .footer-content .social-links a {
    font-size: 18px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    line-height: 1;
    margin-right: 8px;
    border-radius: 4px;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}
  
.footer .footer-content .social-links a:hover {
    background: var(--bg-primary);
    text-decoration: none;
}
.footer .footer-content .social-links img {
    width: 32px;
    height: 22px
}
.footer .footer-content h4 {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    position: relative;
    padding-bottom: 12px;
}
  
.footer .footer-content .footer-links {
    margin-bottom: 10px;
}
  
.footer .footer-content .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.footer .footer-content .footer-links ul li {
    padding: 1px 0;
}
  
.footer .footer-content .footer-links ul li:first-child {
    padding-top: 0;
}
  
.footer .footer-content .footer-links ul a {
    color: rgba(255, 255, 255, 0.6);
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}
  
.footer .footer-content .footer-links ul a:hover {
    color: #fff;
}
/* ===== FOOTER END/ ===== */
  
 



/* =========== MODAL ============= */
.modal .modal-content {
    background-color: #e4e3e3;
}
.modal-content .modal-header {
    background-color: var(--bg-primary);
    border-bottom: 1px solid var(--bg-primary-dark);
    box-shadow: 0px 2px 2px var(--bg-primary-off);

}
.modal-content .modal-header .modal-title {
    font-weight: 400;
    font-family: "Roboto", Sans-serif;
    margin: 0 0 0 5px;
    padding-bottom: 0px;
    font-size: 20px;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    transition: 0.3s;
 }
 .modal-content .modal-header button {
    border: none;
    border-radius: 0;
    background-color: #e4e3e3;
 }
.modal-content .modal-body .schedule-message h5 {
    font-family: "Roboto", Sans-serif;
    margin: 0 0 6px 0;
    padding-bottom: 2px;
    border-bottom: 1px solid rgb(192, 192, 192);
    font-size: 19px;
 }
.modal-content .modal-body .schedule-message a {
    font-family: "Roboto", Sans-serif;
    padding-bottom: 8px 16px 2px 16px;
    font-size: 17px;
    color: white;
 }
.modal-content .modal-footer button {
    padding: 4px 22px 4px 22px;
    margin: 0px 0px 0px auto;

 }
/* ======== MODAL END/ ========== */







/* ======== SERVICES CARD ======== */ 

.service .card:hover {
    box-shadow: 7px 2px 44px 3px var(--bg-accent-hover);
    cursor: pointer;
    user-select: none;
}


  .product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #f7f8fc;
    font-family: "Roboto", sans-serif;
    color: #10182f;
  }

 .service .card {
    font-family: "Roboto", Sans-serif;
    margin: 9px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
    /* height: 600px; */
  }
  .service .card-img img {
    width: 100%;
    height: 200px;
    object-fit: cover;

  }
  .service .card-img img {
    width: 50%;
    height: 150px;
    object-fit: cover;
    padding: 0;
    margin: 0;
    padding: 1px;
    
  }
  .service .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 12px;
    min-height: 230px;
  }
  .service .card .card-body h4 {
    margin: 0 0 2px;
    padding: 0;
  }
  .service .card .card-body p {
    font-size: 13px;
    margin: 0 0 30px;

    
  }
  
  /* category  */
  .service .card-price p {
    background: rgb(163, 30, 30);
    border-radius: 50px;
    font-size: 12px;
    margin: 8px 0 0 5px;
    color: #fff;
    padding: 1px 12px 0 12px;
    width:fit-content;
    text-transform: uppercase;
    cursor: pointer;
  }
  .tag-red {
    background-color: rgb(163,30,30);
  }
  .tag-black {
    background-color: #333;
  }
  .tag-blue {
    background-color: #2e64c0;
  }
  
  .service .card-user {
    display: flex;
    margin-top: auto;
    padding-left: 8px;
    padding-bottom: 3px;
  }
  
  .service .card-user img {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin-right: 10px;
  }
  .service .card-user .user-info h5 {
    margin: 0;
    font-size: 17px;
  }
  .service .card-user .user-info small {
    color: #545d7a;
  }

/* ======== SERVICES CARD END/ ======== */ 

/* ====== BRM DEV ICON =========== */
.webdesign {
    font-family: 'Special Elite', arial;
}
.webdesign a {
    color: rgb(27, 139, 30);
    text-decoration: none;
    float: right;
    font-size: 11px;
    transition: .2s;
    padding: 3px;
}
.webdesign a:hover {
    color: rgb(181, 15, 199);
    text-decoration: none;
    border: 1px solid greenyellow;
    border-radius: 20px;
    font-weight: bold;
    font-size: 13px;
    rotate: -2deg;
}
.webdesign a:active {
    rotate: 3deg;
    zoom: 1.1;
    color: rgb(15, 36, 199);
    background-color: rgb(147, 219, 39);
    border: 2px solid #333;
}
